---
http_interactions:
- request:
    method: post
    uri: https://tableau01.staging.internal.civisanalytics.com/api/2.8/auth/signin
    body:
      encoding: UTF-8
      string: <tsRequest><credentials name="<TABLEAU_ADMIN_USERNAME>" password="<TABLEAU_ADMIN_PASSWORD>"><site
        contentUrl="TestSite"/></credentials></tsRequest>
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml;charset=utf-8
      X-Tableau:
      - Tableau Server
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><tsResponse xmlns="https://tableau.com/api"
        xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://tableau.com/api
        https://tableau.com/api/ts-api-2.8.xsd"><credentials token="lXKrRvSLRlelB831xmQfkw|e4yKHIxJfs2cp0lUlgtm3hfTl0GpLXIL"><site
        id="143ca8d7-ace0-4b6f-9e08-8bd3cf9e7f84" contentUrl="TestSite"/><user id="5f8300e7-4f2a-4deb-9d32-6e0845d18890"/></credentials></tsResponse>
    https_version: 
  recorded_at: Mon, 26 Aug 2019 16:24:12 GMT
- request:
    method: post
    uri: https://TABLEAU_HOST/api/2.8/sites/143ca8d7-ace0-4b6f-9e08-8bd3cf9e7f84/users
    body:
      encoding: UTF-8
      string: <tsRequest><user name="test" siteRole="Unlicensed"/></tsRequest>
    headers:
      Content-Type:
      - application/xml
      X-Tableau-Auth:
      - lXKrRvSLRlelB831xmQfkw|e4yKHIxJfs2cp0lUlgtm3hfTl0GpLXIL
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/xml;charset=utf-8
      Location:
      - "/api/2.8/sites/143ca8d7-ace0-4b6f-9e08-8bd3cf9e7f84/users/28ea0228-b9f6-45d7-8727-ad192feb3677"
      X-Tableau:
      - Tableau Server
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><tsResponse xmlns="https://tableau.com/api"
        xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://tableau.com/api
        https://tableau.com/api/ts-api-2.8.xsd"><user id="28ea0228-b9f6-45d7-8727-ad192feb3677"
        name="test" siteRole="Unlicensed" authSetting="ServerDefault" externalAuthUserId=""/></tsResponse>
    https_version: 
  recorded_at: Mon, 26 Aug 2019 16:24:13 GMT
- request:
    method: post
    uri: https://TABLEAU_HOST/api/2.8/auth/signin
    body:
      encoding: UTF-8
      string: <tsRequest><credentials name="<TABLEAU_ADMIN_USERNAME>" password="<TABLEAU_ADMIN_PASSWORD>"><site
        contentUrl="TestSite"/></credentials></tsRequest>
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml;charset=utf-8
      X-Tableau:
      - Tableau Server
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><tsResponse xmlns="https://tableau.com/api"
        xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://tableau.com/api
        https://tableau.com/api/ts-api-2.8.xsd"><credentials token="I7mxTewjSY2UUpmBJ9klmg|hO0rp2obhtZTo4pH6owJIigLJJtNJHRG"><site
        id="143ca8d7-ace0-4b6f-9e08-8bd3cf9e7f84" contentUrl="TestSite"/><user id="5f8300e7-4f2a-4deb-9d32-6e0845d18890"/></credentials></tsResponse>
    https_version: 
  recorded_at: Mon, 26 Aug 2019 16:24:28 GMT
- request:
    method: get
    uri: https://TABLEAU_HOST/api/2.8/sites/143ca8d7-ace0-4b6f-9e08-8bd3cf9e7f84/users?pageNumber=1&pageSize=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tableau-Auth:
      - I7mxTewjSY2UUpmBJ9klmg|hO0rp2obhtZTo4pH6owJIigLJJtNJHRG
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml;charset=utf-8
      X-Tableau:
      - Tableau Server
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><tsResponse xmlns="https://tableau.com/api"
        xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://tableau.com/api
        https://tableau.com/api/ts-api-2.8.xsd"><pagination pageNumber="1" pageSize="100"
        totalAvailable="2"/><users><user id="5f8300e7-4f2a-4deb-9d32-6e0845d18890"
        name="<TABLEAU_ADMIN_USERNAME>" siteRole="ServerAdministrator" lastLogin="2019-08-26T16:24:12Z"
        externalAuthUserId=""/><user id="28ea0228-b9f6-45d7-8727-ad192feb3677" name="test"
        siteRole="Unlicensed" externalAuthUserId=""/></users></tsResponse>
    https_version: 
  recorded_at: Mon, 26 Aug 2019 16:24:28 GMT
[...]
- request:
    method: get
    uri: https://TABLEAU_HOST/api/2.8/sites/143ca8d7-ace0-4b6f-9e08-8bd3cf9e7f84/users/28ea0228-b9f6-45d7-8727-ad192feb3677
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tableau-Auth:
      - kSPaGgrsReCPogJLz8Yy8g|titAaYyROlKen1rwKhlu0mSSzKVwFZ9G
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml;charset=utf-8
      X-Tableau:
      - Tableau Server
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><tsResponse xmlns="https://tableau.com/api"
        xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://tableau.com/api
        https://tableau.com/api/ts-api-2.8.xsd"><user id="28ea0228-b9f6-45d7-8727-ad192feb3677"
        name="test" fullName="test" siteRole="Unlicensed" authSetting="ServerDefault"
        externalAuthUserId=""><domain name="local"/></user></tsResponse>
    https_version: 
  recorded_at: Mon, 26 Aug 2019 16:24:29 GMT
[...]
- request:
    method: get
    uri: https://TABLEAU_HOST/api/2.8/sites/143ca8d7-ace0-4b6f-9e08-8bd3cf9e7f84/users/foo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Tableau-Auth:
      - sDtMf0HSSJKZJlYigJzBRw|FlxfDl37c7PpQwpqUAyADS9m8wjLuOeb
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/xml;charset=utf-8
      X-Tableau:
      - Tableau Server
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><tsResponse xmlns="https://tableau.com/api"
        xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://tableau.com/api
        https://tableau.com/api/ts-api-2.8.xsd"><error code="404002"><summary>Resource
        Not Found</summary><detail>User 'foo' could not be found.</detail></error></tsResponse>
    https_version: 
  recorded_at: Mon, 26 Aug 2019 16:24:30 GMT
recorded_with: VCR 3.0.3
